#homepage-container{
    padding: 2.5% 5%;
    width: 100%;
    background-color: rgb(203, 211, 231);
}

.homepage-heading{
    margin: 2% 0;
    font-weight: 500;
}

.homepage-module-container{
    display: flex;
    gap: 3%;
}